/* theme color
#252526
#B7BFB4
#F2F2F2
#83A64E
#465902
#f6f6ed
*/

/* theme font */
body * {
  font-family: "Gowun Dodum", sans-serif;
  /* eng font font-family: "Inconsolata", monospace; */
}

/* icon default */
[class*=" xi-"],
[class^="xi-"] {
  font-size: 25px;
  margin-right: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
[class*=" xi-"]:hover,
[class^="xi-"]:hover {
  scale: 1.2;
}

/* header */
header {
  margin-bottom: 150px;
  position: relative;
}

.con-logo {
  background-color: #f6f6ed;
  background-image: url("/static/img/logo.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
}

.con-head-info {
  position: fixed;
  top: 20px;
  right: 20px;
  margin: 0px 0px 10px 0px;
}
