/* main theme 
#252526
#B7BFB4
#F2F2F2; }
#83A64E; }
#465902; }
*/

/* theme font */
body * {
  font-family: "Gowun Dodum", sans-serif;
  /* eng font font-family: "Inconsolata", monospace; */
}

/* todo 컨테이너 */
.con-todos {
  background-image: url(../img/todo-note.png);
  background-position: center;
  background-size: 70% 132%;
  background-repeat: no-repeat;
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 500px;
  padding: 0 30% 80px 30%;
  margin-bottom: 50px;
  position: relative;
  font-family: "Gowun Dodum", sans-serif;
  overflow: auto;
}
.con-todos .con-title-todo {
  /* font-family: "Inconsolata", monospace; */
  font-weight: 800;
  font-size: 1.7rem;
  position: sticky;
  top: 20px;
  left: 0;
  color: #fffdfd;
}

/* todo 인풋 컨테이너 */
.con-inp-todo {
  /* background-color: seashell; */
  position: sticky;
  top: 50px;
  margin-top: 40px;
}

.con-inp-todo .clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.con-inp-todo #todo {
  width: 70%;
  float: left;
  border: none;
  line-height: 38px;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}

.con-inp-todo .btn-save-todo {
  background-color: #adb26e;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 13px;
  color: #f2f2f2;
  line-height: 40px;
  transition: all 0.2s ease-in-out;
  float: right;
}

.con-inp-todo .btn-save-todo:active,
.con-inp-todo .btn-save-todo:hover {
  background-color: #7a7d4d;
}

.con-li-todo {
  width: 100%;
  position: relative;
  top: 0;
  overflow: auto;
  padding: 20px 20px;
}

.con-li-todo .todo-body {
  margin-bottom: 20px;
}

.con-li-todo .todo-body .start {
  float: right;
  margin-top: 8px;
}

.con-li-todo .form-check-input {
  margin: 5px 10px 0 0;
  font-size: 1.4rem;
}

.con-li-todo .txt-todo {
  font-size: 1.2rem;
  line-height: 2rem;
  display: inline-block;
  color: rgb(80, 80, 80);
}

/* .mypic {
  width: 95%;
  max-width: 700px;
  padding: 20px;
  border-color: 0px 0px 100px 0px #465902;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mypic > h1 {
  font-size: 30px;
}
.form-control {
  width: 300px;
}
.mybox {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border-color: 0px 0px 100px 0px #465902;
  margin: 20px auto;
}

.mytodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mybucket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mybucket > input {
  width: 70%;
}

.mybox > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
  min-height: 48px;
}

.mybox > li > h2 {
  max-width: 75%;
  font-size: 20px;
  font-weight: 500;
  margin-right: auto;
  margin-bottom: 0px;
}

.mybox > li > h2.done {
  text-decoration: line-through;
}

.completed {
  color: #83a64e;
  text-decoration: line-through;
  text-decoration-thickness: 10px;
}

.weather {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my {
  background-color: white;
  border: 5px solid #252526;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.gray {
  margin: 20px auto 20px auto;
} */
