<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ㅅㅇㅁ login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />

    <!-- Bootstrap Import -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- JQuery Update -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="../static/js/login.js"></script>
  </head>
  <body>
    <div class="root">
      <h1 class="title-login">Sign In</h1>
      <div class="formfield formfield-id">
        <div class="id">
          <i class="xi-mail icon-id icon-id"></i>
          <input class="inp-login-id" type="text" id="username" placeholder="Username" required />
        </div>
      </div>
      <div class="formfield formfield-pw">
        <div class="password">
          <i class="xi-lock-o icon-pw"></i>
          <input class="inp-login-pw" type="password" id="password" placeholder="Password" required />
        </div>
      </div>
      <button class="btn btn-login" onclick="login()">Login</button>
      <button class="btn visuallyhidden" onclick="user_listing()">userlisting</button>
      <div id="userbox"></div>
    </div>
  </body>
</html>
